
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atooma.plugin.sphero"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true">
        <service
            android:name="com.atooma.AtoomaService"
            android:process=":remote" />

        <receiver android:name=".SPHERORegister" >
            <intent-filter>
                <action android:name="com.atooma.plugin.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service android:name="com.atooma.sdk.RegisterService" />
    </application>

</manifest>
