<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atooma.plugin.sphero"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:allowBackup="true">

        <receiver android:name=".SPHEROReceiver">
            <intent-filter>
                <action android:name="com.atooma.plugin.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SPHERORegister"
            android:exported="true" />
    </application>

</manifest>