
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atooma.plugin.pebble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true">
        <service android:name="com.atooma.AtoomaService" android:process=":remote"/>

        <receiver android:name=".PEBBLEReceiver" >
            <intent-filter>
                <action android:name="com.atooma.plugin.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service android:name=".PEBBLERegister"/>
    </application>

</manifest>
